* {

    text-align: center;
}


.form-login {
    width: 50%;
    height: 100%;
    background: rgb(187, 188, 188, 0.5);
    margin: auto;
    margin-top: 8%;
    padding: 2%;
    color: #fff;

}

.correo {
    /* Formulario correo*/

    width: 100%;
    /* anchura cuadro*/
    border: 1px solid #fff;
    /*Color borde cuadro*/
    padding: 11px;
    background: rgb(37, 35, 35, 0.8);
    font-size: 14px;
    border-radius: 9px;
    margin-bottom: 10px;
    color: #979797;



}

.correo::placeholder,
.fecha {


    color: rgb(0, 0, 0, 0.5);
    font-size: 80%;

}

.correo:hover::placeholder,
.fecha:hover {
    color: #BFBABA;

}

.correo:hover,
.fecha:hover {

    background-color: black;
    border: 1px solid white;
    outline: 1px solid black;

}

.buttons {
    /*Boton Continua*/

    border: 1px solid #fff;
    /*Color borde cuadro*/
    padding: 2% 5%;
    background: rgb(37, 35, 35, 1);
    font-size: 90%;
    text-align: center;
    border-radius: 9px;
    display: inline-block;
    text-decoration: none;
    color: white;

}

.buttons:hover {
    background: rgb(37, 35, 35, 0.8);
}

.cambiar {
    /*Texto o*/
    color: #B7B2B2;
    text-decoration: underline;
    font-size: 70%;
    padding: 1px;
    display: block;
    text-align: left;
    margin-top: 10%;
    margin-bottom: -15%;
}

.registrarse {

    display: block;
    margin-bottom: 5%;
    margin-top: 0.5%;
    text-decoration: none;
    color: black;
    font-size: 90%;
    text-decoration: underline;


}



/****************Botones inicio sesión alternativos****************/


button {
    background: #F9F9F9;
    width: 80%;
    border: 1px solid #fff;
    /*Color borde cuadro*/
    padding: 1% 1%;
    background: rgb(37, 35, 35, 0.5);
    font-size: 14px;
    border-radius: 9px;
    align-items: center;
    margin-bottom: 1%;
    
}

button a{

    display: block;
    text-align: center;
    
}

button:hover {

    background: rgb(37, 35, 35, 1);
    color: white;

    
}

.imgGoogle,
.imgTelefono,
.imgFacebook,
.imgApple {
    vertical-align: middle;
    float: left;
    width: 5%;
    margin-right: 10%;
}


/****************REGISTRARSE*****************/


.text {

    color: black;
    font-size: 90%;
    text-align: justify;
    margin-bottom: 4%;
}

.aceptar {

    margin-top: 5%;
    margin-bottom: 5%;

}
