* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

h1 {
	/* Texto bienvenida */
	text-align: center;
	color: black;
	height: 10%;
	font-size: 170%;
	border-bottom: 1px solid black;
}

a {
	text-decoration: none;
}

h5 {
	/*Texto Correo*/
	text-align: left;
	color: black;
	height: 50%;
	margin: 1px;
	font-size: 120%;
}

body {
	background: url('../img/principal/fondo.jpg') #000;
	background-size: cover;
	background-position: center;
	font-family: Roboto, Trebuchet MS, Lucida Sans Unicode, Lucida Grande,
		Lucida Sans, Arial, sans-serif;
}

/************CABECERA************/
header {
	width: 100%;
	height: 100%;
	background: rgb(187, 188, 188, 0.8);
	padding: 2.5%;
	color: #fff;
}

.imgHeaderLogo {
	display: block;
	width: 10%;
}

.imgheaderPerfil {
	display: block;
	background:  rgb(0, 0, 0,0);
	width: 3%;
	float: right;
	margin-top: -3.5%;
	border: 1px solid rgb(224, 86, 91);
	/*Color borde cuadro*/
	padding: 0.1%;
	border-radius: 20%;
	
}

.ErrorServ{color: darkred;}


