<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>AirbnbDAO</display-name>
  <welcome-file-list>
    <welcome-file>Login</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>es.unex.pi.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registro</display-name>
    <servlet-name>Registro</servlet-name>
    <servlet-class>es.unex.pi.controller.Registro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registro</servlet-name>
    <url-pattern>/Registro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modificar</display-name>
    <servlet-name>Modificar</servlet-name>
    <servlet-class>es.unex.pi.controller.Modificar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modificar</servlet-name>
    <url-pattern>/Modificar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnadirAlojamiento</display-name>
    <servlet-name>AnadirAlojamiento</servlet-name>
    <servlet-class>es.unex.pi.controller.AnadirAlojamiento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnadirAlojamiento</servlet-name>
    <url-pattern>/AnadirAlojamiento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Localizacion</display-name>
    <servlet-name>Localizacion</servlet-name>
    <servlet-class>es.unex.pi.controller.Localizacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Localizacion</servlet-name>
    <url-pattern>/Localizacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionAlojamientos</display-name>
    <servlet-name>GestionAlojamientos</servlet-name>
    <servlet-class>es.unex.pi.controller.GestionAlojamientos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionAlojamientos</servlet-name>
    <url-pattern>/GestionAlojamientos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetallesAlojamiento</display-name>
    <servlet-name>DetallesAlojamiento</servlet-name>
    <servlet-class>es.unex.pi.controller.DetallesAlojamiento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetallesAlojamiento</servlet-name>
    <url-pattern>/DetallesAlojamiento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Categoria</display-name>
    <servlet-name>Categoria</servlet-name>
    <servlet-class>es.unex.pi.controller.Categoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categoria</servlet-name>
    <url-pattern>/Categoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarAlojamient</display-name>
    <servlet-name>EditarAlojamient</servlet-name>
    <servlet-class>es.unex.pi.controller.EditarAlojamient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarAlojamient</servlet-name>
    <url-pattern>/EditarAlojamient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionCategorias</display-name>
    <servlet-name>GestionCategorias</servlet-name>
    <servlet-class>es.unex.pi.controller.GestionCategorias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCategorias</servlet-name>
    <url-pattern>/GestionCategorias</url-pattern>
  </servlet-mapping>
  <error-page>
    <location>/errorServidor.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Perfil</display-name>
    <servlet-name>Perfil</servlet-name>
    <servlet-class>es.unex.pi.controller.Perfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Perfil</servlet-name>
    <url-pattern>/Perfil</url-pattern>
  </servlet-mapping>
</web-app>